/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        Tilde: Tilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RA(RIGHT_BRACKET) &kp SPACE>;
            label = "TILDE";
        };

        html_tag_vim: html_tag_vim {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp S &kp L &kp NON_US_BACKSLASH>;
            label = "HTML_TAG_VIM";
        };
    };

    behaviors {
        new_behavior: new_behavior {
            compatible = "zmk,behavior-hold-tap";
            label = "NEW_BEHAVIOR";
            bindings = <&Tilde>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
        };

        new_behavior1: new_behavior1 {
            compatible = "zmk,behavior-hold-tap";
            label = "NEW_BEHAVIOR1";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB         &kp Q  &kp W  &kp E         &kp R                  &kp T    &kp Y    &kp U          &kp I      &kp O    &kp P     &kp LEFT_BRACKET
&kp LEFT_SHIFT  &kp A  &kp S  &kp D         &new_behavior1 CAPS F  &kp G    &kp H    &kp J          &kp K      &kp L    &kp SEMI  &kp SINGLE_QUOTE
&kp LCTRL       &kp Z  &kp X  &kp C         &kp V                  &kp B    &kp N    &kp M          &kp COMMA  &kp DOT  &kp FSLH  &mo 3
                              &kp LEFT_ALT  &kp SPACE              &mo 1    &kp RET  &kp BACKSPACE  &mo 2
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESCAPE  &kp LS(MINUS)                  &kp LS(NUMBER_1)               &kp LS(NUMBER_2)                           &kp LS(NUMBER_3)               &new_behavior 0 LS(NUMBER_0)     &kp SLASH        &kp NUMBER_7   &kp N8        &kp N9        &kp LC(MINUS)                &trans
&kp CAPS    &mt RA(NUMBER_4) LS(NUMBER_5)  &mt RA(NUMBER_0) RA(NUMBER_7)  &mt RA(NUMBER_9) RA(NUMBER_8)              &mt LS(NUMBER_9) LS(NUMBER_8)  &mt RA(MINUS) LS(NUMBER_7)       &kp MINUS        &kp NUMBER_4   &kp NUMBER_5  &kp NUMBER_6  &mt LC(SLASH) LC(SEMICOLON)  &trans
&mo 5       &mt LS(NUMBER_6) GRAVE         &kp NON_US_HASH                &mt LS(NON_US_BACKSLASH) NON_US_BACKSLASH  &kp RA(NUMBER_2)               &mt RA(NON_US_BACKSLASH) LGUI    &kp KP_ASTERISK  &kp NUMBER_1   &kp NUMBER_2  &kp NUMBER_3  &kp COMMA                    &kp LS(GRAVE)
                                                                          &kp DEL                                    &mt LA(F4) DELETE              &trans                           &kp RET          &kp BACKSPACE  &kp NUMBER_0
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB         &trans  &kp HOME  &kp UP         &kp END              &kp PAGE_UP      &kp LG(NUMBER_2)  &kp LG(NUMBER_3)  &kp LG(NUMBER_4)  &kp LG(NUMBER_5)  &trans  &kp LC(LA(F4))
&kp LEFT_SHIFT  &trans  &kp LEFT  &kp DOWN       &kp RIGHT            &kp PAGE_DOWN    &kp F16           &kp F17           &kp F18           &trans            &trans  &kp F24
&kp LCTRL       &trans  &trans    &html_tag_vim  &kp LC(NON_US_HASH)  &kp LGUI         &kp LC(Z)         &kp LC(Y)         &mo 4             &trans            &trans  &kp LC(F4)
                                  &kp LEFT_ALT   &kp SPACE            &kp DEL          &kp RET           &trans            &trans
            >;
        };

        layer_3 {
            bindings = <
&kp TAB         &trans  &trans  &trans        &trans     &trans           &kp F1  &kp F2   &kp F3   &kp F4   &kp C_PREVIOUS  &kp C_NEXT
&kp LEFT_SHIFT  &trans  &trans  &trans        &trans     &trans           &kp F5  &kp F6   &kp F7   &kp F8   &kp C_MUTE      &kp C_PLAY
&kp LCTRL       &trans  &trans  &trans        &kp LG(V)  &kp LC(LG(V))    &kp F9  &kp F10  &kp F11  &kp F12  &mo 4           &trans
                                &kp LEFT_ALT  &kp SPACE  &trans           &tog 6  &trans   &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans      &trans      &trans        &trans  &trans  &trans  &trans       &trans  &trans
&trans  &trans  &trans  &trans      &trans      &trans        &trans  &trans  &trans  &trans       &trans  &trans
&trans  &trans  &trans  &trans      &trans      &trans        &trans  &trans  &trans  &kp K_POWER  &trans  &trans
                        &bt BT_CLR  &bt BT_PRV  &bt BT_NXT    &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&kp LC(LS(ESCAPE))  &trans            &trans  &trans         &trans                 &trans               &trans  &trans  &trans  &trans  &trans  &trans
&trans              &kp RA(NUMBER_5)  &trans  &trans         &trans                 &trans               &trans  &trans  &trans  &trans  &trans  &trans
&trans              &trans            &trans  &kp LS(EQUAL)  &kp LS(RIGHT_BRACKET)  &kp RA(BACKSLASH)    &trans  &trans  &trans  &trans  &trans  &trans
                                              &trans         &trans                 &trans               &trans  &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
&kp TAB           &kp Q  &kp W  &kp E         &kp R      &kp T    &kp Y      &kp U          &kp I      &kp O       &kp P          &kp LEFT_BRACKET
&kp LEFT_SHIFT    &kp A  &kp S  &kp D         &kp F      &kp G    &kp H      &kp J          &kp K      &kp L       &kp SEMICOLON  &kp SINGLE_QUOTE
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C         &kp V      &kp B    &kp N      &kp M          &kp COMMA  &kp PERIOD  &kp SLASH      &to 0
                                &kp LEFT_ALT  &kp SPACE  &mo 7    &kp ENTER  &kp BACKSPACE  &trans
            >;
        };

        layer_7 {
            bindings = <
&kp ESCAPE  &trans  &trans    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans  &trans    &trans        &kp NUMBER_4  &kp NUMBER_5    &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans  &kp APOS  &kp J         &kp I         &kp M           &trans  &trans  &trans  &trans  &trans  &trans
                              &trans        &trans        &trans          &trans  &trans  &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
